.boxes-con {
    flex-direction: column;
}
#clients {
    flex-wrap: wrap;
}
#clients img {
    width: 200px;
    padding: 2px 15px;
}
.navbar {
    flex-direction: column;
}
#home {
    height: 800px;
    padding: 3px 60px;
}
#home::before {
    height: 1047px;
}
#home p {
    font-size: 3rem;
}


.primary {
    font-size: 6rem;
}
.h-primary {
    font-size: 7rem;
}
.navbar ul li a {
    font-size: 2.2rem;
    padding: 0px 15px;
}
/* .h-secondary {
    font-size: 1.5rem;
} */
.btn {
    font-size: 1rem;
    padding: 4px 8px;
}
.boxes-con p {
    font-size: 12px;
}
.boxes-con h2 {
    font-size: 2.5rem;
}
#services .box {
    margin: 20px 20px;
}
#services {
    position: relative;
    /* top: 200px; */
    /* bottom: 300px; */
}
.logo img {
    height: 100px;
}
 #clients-section {
position: relative;
/* top: 100px; */
} 
#contact {
    position: relative;
    /* margin-top: 50px; */
    /* top: 200px; */
}

#contact-box {
    margin-top: 55px;
    position: relative;
    left: -24px;
}

#contact-box label{
    font-size: 3rem;
    font-family: 'Bree Serif', serif;
 
 }
 #contact-box input, 
#contact-box textarea {
    top: 15px;
    height: 150%;
    width: 120%;
    /* margin: 0%; */
    padding: 0.8rem;
    font-size: 3rem;
}
#navbar ul li {
    font-size: 100px;
}

#home .btn {
    /* height: 30px; */
    width: 300px;
    margin: 50px;
    text-align: center;
    font-size: 3rem;
}
.t-con {
   position: relative;
   top: 70px;
}

.box p{
    text-align: center;
    font-size: 2rem;
}

#clients img{
  width: 250px;
}

footer {
    height: 50px;
    text-align: center;
    font-size: 2rem;
}

.navbar ul li a {
    font-size: 3rem;
}

.logo img {
    height: 180px;
}